{% extends "layout.html" %} {% block div %} <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static' , filename = 'img/contact-bg.gif')}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Are you feeling bored while in quarantine?</h1>
            <span class="subheading">We have some solutions for that.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p style = "color: BurlyWood">We admit that you can get bored easily while in quarantine. We do not have our friends to spend
        time with nor can we go outside to keep ourselves occupied. You may be finding it difficult to pass time without proper engagements. But do
        not worry dear friend, we're ready to help you out.</p>
        <p style = "color: DarkGoldenRod">If you enjoy sports, check out some engaging sport news at <a href = "http://www.espn.com/espn/latestnews" target = "_blank"> espn </a> or if you prefer mobile games
        , try out PES2020 , Dream League Soccer or FIFA Soccer. But make sure you don't spend a lot of time glued to your screens. </p>
        <p style = "color: DarkGoldenRod">If you're into indoor games and board games, check out <a href = "https://www.chess.com/play/computer" target = "_blank">Chess</a>
         , <a href = "https://www.boatloadpuzzles.com/playcrossword" target = "_blank">Crossword</a> or <a href = "https://www.pogo.com/board-games?sl=2&filters=board"
         target = "_blank">Board Games</a>.</p>
        <p style = "color: DarkGoldenRod">If you would like to make use of your time to learn some productive online courses, try <a href = "https://www.udemy.com/" target = "_blank">udemy</a> , 
        <a href = "https://www.edx.org/" target = "_blank">edx</a> or <a href = "https://www.coursera.org/" target = "_blank">coursera</a>. If you want some awesome
        coding tutorials check out <a href = "https://www.youtube.com/channel/UC8butISFwT-Wl7EV0hUK0BQ" target = "_blank">freecodecamp</a>.</p>
        <p style = "color: DarkGoldenRod">If you enjoy memes, get your loadful by following offensivent_malayalam_memes or memes_from_bnilavara across
        social media platforms</p>
        <p style = "color: DarkGoldenRod">If you enjoy infotainment dont miss out <a href = "https://www.youtube.com/user/Kurzgesagt" target = "_blank">kurzgesagt</a> , 
        <a href = "https://www.youtube.com/user/TheInfographicsShow" target = "_blank">infographicsshow</a> and 
        <a href = "https://www.youtube.com/channel/UCH5YmeRhiQZt9_5Eky3A2og" target = "_blank">iam</a>.</p>
        <p style = "color: DarkGoldenRod">If staying healthy and fit is your goal, visit <a href = "https://www.beachbody.com/product/fitness_programs/on-demand-workout-videos.do?code=SEM_BOD_MSN&gclid=CKjIyJPMuOgCFRKDjgodTlcFjA&gclsrc=ds" target = "_blank">fitness</a>.</p>
        <p style = "color: DarkGoldenRod">If you enjoy reading, here're some websites with great e-book collections <a href = "https://landing.bookbub.com/covers_ext_scrolling/?source=ba_us_acquisition-free_download-book-free&utm_medium=cpc&utm_source=bing&utm_campaign=US-Search%3A%20Acquisition%20-%20Free&msclkid=f65b05b2e9951c827b5d5bce34d5e921"
        target = "_blank">lib1</a> or <a href = "https://www.free-ebooks.net/" target = "_blank">lib2</a>.</p>
        <p style = "color: DarkGoldenRod">If you like listening to music go to <a href = "https://www.jango.com/" target = "_blank">music1</a>, <a href = "https://www.amazon.com/music/unlimited?ref_=dmm_acq_marin_p_gen%7Cc_71262222999647_m_lslhYSrh-dc_s__" 
        target = "_blank">music2</a> or also try some podcasts at <a href = "https://www.iheart.com/podcast/" target = "_blank">podcast</a>.</p>
        <p style = "color: DarkGoldenRod">If you want to play some great online games check out <a href ="https://zone.msn.com/en-us/home" target = "_blank">games1</a> , 
        <a href ="https://games.aarp.org/" target = "_blank">games2</a>.</p>
        <br><br>
        <center><h3 style = "color: MediumPurple">Stay Happy! Stay Safe! Stay Healthy!</h3></center> 
     </div>
    </div>
  </div>

{% endblock %}