{% extends "layout.html" %} {% block div %} <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static' , filename = 'img/post-bg.jfif')}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>Precautions against CoViD-19</h1>
            <h2 class="subheading">Prevention is better than cure</h2>

          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p style = "color: Salmon">Wash your hands frequently, regularly and thoroughly for atleast 20 seconds with a suitable handwash or soap. Alternatively, clean your hands
          with an alcohol-based sanitiser with composition as prescribed by the WHO. Why? Washing your hands with soap and water or using alcohol-based hand rub gets
          rid of any pathogens which may have made it to your hands.</p>

          <p style = "color: Salmon">Maintain social distancing -
            Maintain at least 1 metre (3 feet) distance between yourself and others around you and avoid physical contact of any kind.

            When someone coughs or sneezes, they spray minute liquid droplets from their nose or mouth which could probably contain the virus if the
            person happens to be infected. If you are too close, you may breathe in these droplets and get yourself infected.</p>

          <p style = "color: Salmon">But please refrain yourselves from wearing masks if you do not show any symptoms. This is because masks are mainly effective in preventing spread from infected people
          to others and not the other way around.
          Also, there can be potential shortage of masks which can leave our front-line health-care workers vulnerable and defenceless. So, do not hoard up
          on masks unnecessarily if you are asymptomatic or not infected.</p>

          <p style = "color: Salmon">Avoid touching your face: eyes, nose and mouth -
            Why? Your hands have had contact with too many surfaces and could possibly pick up any viruses. Once contaminated, hands can easily transfer the virus
            to your eyes, nose or mouth which are the only entry points into your body. This will most probably get you infected, so make sure you avoid helping
            the viruses by touching your face.</p>


          <p style = "color: Salmon">Practice good respiratory hygiene -
            Make sure you, and the people around you, follow good respiratory hygiene. This means covering your mouth and nose with your bent elbow or tissue when you cough or sneeze.
            Then, dispose of the used tissue immediately.This is because viruses  can spread by those droplets. By following good respiratory hygiene you protect the people around you
            from potential illness.</p>

          <h2 class="section-heading">Protective measures for people who are in or have recently visited (past 14 days) CoViD-19 affected areas</h2>

          <p style = "color: Salmon">Compulsarily home-quarantine yourself for atleast 14 days. Remember, you would'nt want to be known later as the one who infected others.</p>

          <p style = "color: Salmon">Stay at home if you are still unwell, even with mild symptoms such as headache and slight runny nose, until you recover. Why? Avoiding contact with others and visits
          to medical facilities will allow these facilities to operate more efficiently and help protect you and others from possible CoViD-19 or other infection.</p>

          <p style = "color: Salmon">If you develop fever, cough or have difficulty breathing, seek medical advice promptly as this could probably be a CoViD-19 infection.
          Contact the appropriate health officials or organization and notify them. Cooperate with the authorities and share details of any recent travel history or contact with people from
          affected areas.This will allow your health care provider to quickly direct you to the right health facility and helps to prevent possible transmission of COVID-19 or other diseases.</p>
        </div>
      </div>
    </div>
  </article>
{% endblock %}